/* css reset */
* {
    margin: 0;
}

/* header */
header {
    height: 100px;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: 406px;
    background-position: -129px -4px;
}

.logo {
    margin-top: 35px;
    margin-left: 10px;
    height: 50px;

}